# Project exclude paths
/common/target/
/core/target/.local-browser\
.idea\
/.local-browser/win64-722234/chrome-win/80.0.3987.0.manifest
/.local-browser/win64-722234/chrome-win/locales/ar.pak
/.local-browser/win64-722234/chrome-win/locales/bg.pak
/.local-browser/win64-722234/chrome-win/locales/bn.pak
/.local-browser/win64-722234/chrome-win/locales/ca.pak
/core/target/classes/category.json
/.local-browser/win64-722234/chrome-win/chrome.dll
/.local-browser/win64-722234/chrome-win/chrome.exe
/.local-browser/win64-722234/chrome-win/chrome_100_percent.pak
/.local-browser/win64-722234/chrome-win/chrome_200_percent.pak
/.local-browser/win64-722234/chrome-win/chrome_elf.dll
/.local-browser/win64-722234/chrome-win/chrome_proxy.exe
/.local-browser/win64-722234/chrome-win/chrome_watcher.dll
/.local-browser/win64-722234/chrome-win/locales/cs.pak
/.local-browser/win64-722234/chrome-win/D3DCompiler_47.dll
/.local-browser/win64-722234/chrome-win/locales/da.pak
/.local-browser/win64-722234/chrome-win/locales/de.pak
/.local-browser/win64-722234/chrome-win/debug.log
/core/target/classes/com/yssj/core/framework/web/Dto2PageConverter.class
/.local-browser/win64-722234/chrome-win/locales/el.pak
/.local-browser/win64-722234/chrome-win/elevation_service.exe
/.local-browser/win64-722234/chrome-win/locales/en-GB.pak
/.local-browser/win64-722234/chrome-win/locales/en-US.pak
/.local-browser/win64-722234/chrome-win/Dictionaries/en-US-8-0.bdic
/.idea/encodings.xml
/.local-browser/win64-722234/chrome-win/locales/es.pak
/.local-browser/win64-722234/chrome-win/locales/es-419.pak
/.local-browser/win64-722234/chrome-win/locales/et.pak
/.local-browser/win64-722234/chrome-win/eventlog_provider.dll
/.local-browser/win64-722234/chrome-win/locales/fi.pak
/.local-browser/win64-722234/chrome-win/locales/fil.pak
/.local-browser/win64-722234/chrome-win/First Run
/.local-browser/win64-722234/chrome-win/locales/fr.pak
/.local-browser/win64-722234/chrome-win/locales/gu.pak
/.local-browser/win64-722234/chrome-win/locales/he.pak
/.local-browser/win64-722234/chrome-win/locales/hi.pak
/.local-browser/win64-722234/chrome-win/locales/hr.pak
/.local-browser/win64-722234/chrome-win/locales/hu.pak
/core/target/classes/com/yssj/core/framework/cache/ICache.class
